[submodule "lazy/lazy.nvim"]
	path = lazy/lazy.nvim
	url = git@github.com:folke/lazy.nvim.git
	branch = stable
[submodule "lazy/nvim-web-devicons"]
	path = lazy/nvim-web-devicons
	url = git@github.com:nvim-tree/nvim-web-devicons.git
[submodule "lazy/oil.nvim"]
	path = lazy/oil.nvim
	url = git@github.com:stevearc/oil.nvim.git
[submodule "lazy/catppuccin"]
	path = lazy/catppuccin
	url = git@github.com:catppuccin/nvim.git
[submodule "lazy/Comment.nvim"]
	path = lazy/Comment.nvim
	url = git@github.com:numToStr/Comment.nvim.git
[submodule "lazy/LuaSnip"]
	path = lazy/LuaSnip
	url = git@github.com:L3MON4D3/LuaSnip.git
	branch = v2.*
[submodule "lazy/nvim-cmp"]
	path = lazy/nvim-cmp
	url = git@github.com:hrsh7th/nvim-cmp.git
[submodule "lazy/cmp-cmdline"]
	path = lazy/cmp-cmdline
	url = git@github.com:hrsh7th/cmp-cmdline.git
[submodule "lazy/cmp-nvim-lsp"]
	path = lazy/cmp-nvim-lsp
	url = git@github.com:hrsh7th/cmp-nvim-lsp.git
[submodule "lazy/mason.nvim"]
	path = lazy/mason.nvim
	url = git@github.com:williamboman/mason.nvim.git
[submodule "lazy/cmp-buffer"]
	path = lazy/cmp-buffer
	url = git@github.com:hrsh7th/cmp-buffer.git
[submodule "lazy/cmp_luasnip"]
	path = lazy/cmp_luasnip
	url = git@github.com:saadparwaiz1/cmp_luasnip.git
[submodule "lazy/cmp-path"]
	path = lazy/cmp-path
	url = git@github.com:hrsh7th/cmp-path.git
[submodule "lazy/nvim-lspconfig"]
	path = lazy/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "lazy/mason-lspconfig.nvim"]
	path = lazy/mason-lspconfig.nvim
	url = git@github.com:williamboman/mason-lspconfig.nvim.git
[submodule "lazy/lsp_signature.nvim"]
	path = lazy/lsp_signature.nvim
	url = git@github.com:ray-x/lsp_signature.nvim.git
  ignore = dirty
[submodule "lazy/neodev.nvim"]
	path = lazy/neodev.nvim
	url = git@github.com:folke/neodev.nvim.git
[submodule "lazy/nvim-jdtls"]
	path = lazy/nvim-jdtls
	url = git@github.com:mfussenegger/nvim-jdtls.git
  ignore = dirty
[submodule "lazy/nvim-autopairs"]
	path = lazy/nvim-autopairs
	url = git@github.com:windwp/nvim-autopairs.git
